################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoveControl
/eGUICustomizations/eGUICustomizations/obj/Debug/DesignTimeResolveAssemblyReferences.cache
